<h1 style="text-align:center;margin-top:10px;">Początki nie muszą być trudne... (ale będą) </h1>
<div class="jumbotron row" style=" width:90%; margin-left:5%; margin-right:5%; margin-top:2em; ">
  <center style="font-size:2em">Myślisz o rozpoczęciu nauki gry na perkusji ?</center><br>
    <p style="margin-right:1em; margin-left:1em;">
      Nie musisz nawet o tym myśleć, masz dwie ręcę, dwie nogi już masz perkusję tylko jeszce o tym nie wiesz.
Nie męcz rodziców o zestaw perkusjny za nim nie jesteś w 100% pewien, że będziesz chciał grać.
Wiadomo wszystko fajnie wygląda w głowie, ale czy nie pograsz przez 2dni i nie rzucisz go w kąt pokoju ?
Sprawdź, czy to jest to czego szukasz. Dużo początkowych ćwiczeń w zupełności można wykonywać na padzie,
który kosztuje w okolicach 20 zł i pałeczki również tyle samo. A już wtedy sprawdzisz czy to jest dla ciebie.
Oczywiście nie przyniesie to radości z uderzenia w prawdziwą perkusję, ale wprowadzi w początkowy rozwój.
Jeżeli chcesz siąść za bebnąmi i poczuć co niosą ze sobą, zapraszam ;) Albo sprawdź w swoim mieście
dostępnych nauczieli perkusjnych bo pewnie tacy są, muszą być. I się przekonaj, uwaga na słuch.
Głupio byloby nie słyszeć co grasz. Pamiętaj jeżeli coś nie wychodzi na początku to nie znaczy że się do tego nie nadajesz.
Po prostu trzeba obrać inną drogę treningu. Cytując klasyka, który wisi na mojej ścianie " If you can dream it, you can do it ".<br>
Teraz zamknij oczy, oczywiście jak przeczytasz do końca.... wyobraź sobie twoje marzenie związane z perkusją, objętnie co tłum dziewczyn, scenę, własy zespół.
Czy po prostu dobrą zabawę, a teraz wyznacz sobie drogę do tego marzenia, które własnie powstało w twojej głowie i zrób to !
Pamiętaj że samozaparcie jest cenne, ale to jakich ludzi spotkach na swojej drodzę jest też bardzo ważne. Nie zapominaj o swoim normalnym życiu na swojej drodze do kariery.
Polecam oglądnąć film Whiplash.Każdy perkusista chyba go oglądał. Dużo wartości można wyciągnąć z tego filmu.
<br>
<br>
Rozpisałem się jak zawsze, ale w końcu. Dobrze, zaczynajmy.</br>
Poniżej będzie dostępny jeden z najprostszych rytmów perkusyjnych.
Czwórkowy ze stopą na 1 i 3 oraz 2 i 4. Jeżeli nic Ci to nie mówi nie przejmuj sie tym.
Chce pokazać, że naprawdę nie jest to trudne.
<br>
<br>
<br>
Tak tutaj będzie program jak go zrobimy (Michał go zrobi xD)

<br>
<br>
<br>

Jak widziałeś i usłyszałeś prawa ręka uderzała cały czas, a lewa i prawa noga na zmianę równocześnie z prawą.
Spróbuj to wystukać prawa noga z prawą reką i lewa ręką z prawą ręką. I tak powtórzyć z milion razy.
Jeżeli się tego nauczyłeś to już możesz grać dwa znane utowry, m.in.<br> Elton John - I'm Still Standing (Marta xD)  <br>  AC/DC - Back in black
<br>
W dziale zapis nutowy poznasz dlaczego i jak wszystko jest zapisywane. Oczywiście w tym momencie stoisz przed szczytem wielkiej gory, trzeba teraz na niego wejść :)
Mam nadzieję że tym krótkim wstępem ( tak będzie dłuższy) zachęciłem i pokazałem, że nie musi to być trudne jak się wydaje.<br>
Będą się tutaj pojawiać regularnie ćwiczenia jak i bardziej zaawansowane jak i same podstawy jak sobie je przypomnę i filmiki z moim udziałem jak i innych.

</p>
</div>
