
<div  class=" row" style="width:80%; margin-left:10%; margin-right:10%; border-color:red; border-style:solid;">

    <div style="mheight:40%; float:right; width:20%; background-color:blue; border-style:solid; border-color:blue;  ">


    </div>

        <div style="float:left; width:70%; margin-left:5%; margin-right:5%; ">

            <h1 style="text-align:center;"> Tylko projekt ? </h1>
            <br>

            <p style="margin-right:1em; margin-left:1em;">
                Zaczynając od samego początku. Skąd pomysł i jak się wszystko zaczęło.
              Cała idea powstała w mojej glowie, jednak coś tam jest (tylko chwilowy przebłysk), miała to być tylko strona na zaliczenie do szkoły, ale uznałem że
              niezbyt chce mi się bawić w stylowanie i edytowanie w css . Dlatego wymyśliłem, że napiszę podstawy program, który będzie imitować perkusję,
               będzie można na nim można stworzyć rytm. Więcej było w tym JS(JavaScript), niż html i css, ale projekt został zaliczony. Wiedziałem że
               sam byłbym zbyt leniwy żeby to zrobić dlatego cały projekt jest nie tylko moim tworem, ale również Mendy. To on się męczył z moimi pomysłami,
               które z dnia na dzień były coraz trudniejsze. Każdy by pomyślał projekt perkusjny, ocena została  wystawiona i można wyrzucić. I pewnie by tak było
               gdyby nie to że ktoś mi pokazał programowanie na nowo. Poznając nowe możliwości mój mózg stworzył nowy, bardziej ambitniejszy pomysł. Zrobić
               stronę gdzie każdy może przyjść z gotowym rytmem zapisnanym w pdf czy innym formacie i odegrać go na stronie, zapisać, wstawić na swoje konto i
               podzielić się z innymi. Drugi facebook ? Dla perkusistów ? Hah chciałbym. Jak i również możliwość nauki przez tą stronę, będą tutaj zamieszczane
               ćwiczenia, różnorodne rytmy od najprostszych po takie co ja nie umiem zagrać i dopiero się uczę. Każdy na swoim profilu będzie mógł się podzielić
               nad czym aktualnie pracuję, jak mu to wychodzi. dobranoc.
            </p>

            </br>
            Nie ma przecinków o drugiej w nocy to piszę, nie oceniać !.
            </br>
            </br>
            </br>
            </br>
            </br>

    </div>
</div>
