





<div >

    <div class="container">
    <div class="jumbotron" style="text-align:center">



      <object id='drumsSVG' type="image/svg+xml" data="<%=image_url 'drums.svg'%>" class="drums" style="width:100%;">

      </object>






    </div>
    </div>
</div>

<script>
var drums = {
  samples: ['a', 'b', 'c', 'd', 'e', '1', '2', '3', '4', '5', '6','7'],

  play(drum) {
    this.sounds[drum].load();
    return this.sounds[drum].play();
  },
  

  generateSounds() {
    this.sounds = this.samples.reduce( function(cache, sample) {
      cache[sample] = new Audio('/sounds/'+ sample + '.wav');
      return cache;
    }, {});
  },

  bindKeys() {
    keyboardJS.bind(this.samples, (e) => { this.play(e.key) });
  },

  bindEvents() {
    var svg = document.getElementById('drumsSVG');
    var doc = svg.contentDocument;
    this.samples.forEach( (sample) => $(doc.getElementById('sample_' + sample)).click(() => drums.play(sample)));
  }
}

  document.getElementById('drumsSVG').addEventListener('load', function(){
      drums.generateSounds();
      drums.bindEvents();
      drums.bindKeys();
  });

</script>
