<script>
var samples = ['a', 'b', 'c', 'd', 'e', '1', '2', '3', '4', '5', '6'];

var sounds = samples.reduce( function(cache, sample) {
  cache[sample] = new Audio('/sounds/'+ sample + '.mp3');
  return cache;
}, {});

var play = function(drum) {
  sounds[drum].play();
};

keyboardJS.bind(samples, function(e) {
  play(e.key);
});
</script>






<div >

    <div class="container">
    <div class="jumbotron" style="text-align:center">



      <object type="image/svg+xml" data="<%=image_url 'drums.svg'%>" class="drums" style="width:100%;">

      </object>






    </div>
    </div>
</div>
