<div class="row">
    <div class="container">
    <div class="jumbotron" style="width: 600px; text-align: center;">
        <div class="alert alert-success" role="alert"><h4 class="alert-heading">Wiadomość!</h4><h2>Tak :)</h2></div>
    </div>
    </div>
</div>