function  gradients(color, gradien) {
      $(doc.getElementById('sample_' + key + '_animation')).attr("fill", color);
      var current = createjs.Sound.play('sample_' + key);
      current.volume = volume;
      current.addEventListener("complete", function (current) {
          $(doc.getElementById('sample_' + key + '_animation')).attr("fill", gradient);
      });
}

  if (key.match(/^[a-z]+$/)) {

      if (key == 'e') {
          gradients("blue", "url(#SVGID_59_)");

      } else {
          gradients("red", "white");

      } else {

          gradients("url(#new_grad)", gradient);
      }

  }
},





if (key.match(/^[a-z]+$/))
              {


  if (key=='e')

            {
           gradients("blue","url(#SVGID_59_)")

            }
else

{
  gradients("red", "white");
}

}

else
{
gradients("url(#new_grad)", gradient);

}


},














<div>

  <div class="container" style="width: 90%;">

      <div id="watch" class="jumbotron" style="text-align:center;width:80%;float: left;">


        <object id='drumsSVG' type="image/svg+xml" data="<%=image_url 'drums.svg'%>" class="drums" style="width:100%;">

        </object>






      </div>
      <div class="jumbotron" style="width: 18%; float: right;padding: 5px;padding-left: 20px;padding-right: 20px;">

        <div style="float: left;">
            <h3>Głośność:<n id="amount">60</n></h3>
            <div id="slider-vertical" style="height:200px;"></div>
        </div>

      <%= link_to 'Symulator na soundjs', pages_SymulatorS_path %>

      </div>

  </div>
</div>

<script >

  $( function() {
    $( "#slider-vertical" ).slider({
      orientation: "vertical",
      range: "min",
      min: 0,
      max: 100,
      value: 60,
      slide: function( event, ui ) {
        $( "#amount" ).html( ui.value );
        drums.setVolume(ui.value);
      }
    });
    $( "#amount" ).val( $( "#slider-vertical" ).slider( "value" ) );
  } );




    var drums = {

      samples: ['a', 'b', 'c', 'd', 'e', '1', '2', '3', '4', '5', '6','7'],

      play(drum) {
        var svg = document.getElementById('drumsSVG');
        var doc = svg.contentDocument;
        this.sounds[drum].load();
         var key = drum
        if (key.match(/^[a-z]+$/)){
          if (key=='e')
          {
        console.log('key')
        $(doc.getElementById('sample_'+drum+'_animation')).attr("fill", "blue" );
        this.sounds[drum].play();
        this.sounds[drum].onended = function() {
            $(doc.getElementById('sample_'+drum+'_animation')).attr("fill", "url(#SVGID_59_)" );
          };
        }

        else

        {
        $(doc.getElementById('sample_'+drum+'_animation')).attr("fill", "red" );
        this.sounds[drum].play();
        this.sounds[drum].onended = function() {
            $(doc.getElementById('sample_'+drum+'_animation')).attr("fill", "white" );
          };
        }

        }
        else
       {
        $(doc.getElementById('sample_'+drum+'_animation')).attr("fill", "url(#new_grad)" );
        this.sounds[drum].play();
        this.sounds[drum].onended = function() {
            $(doc.getElementById('sample_'+drum+'_animation')).attr("fill", "url(#SVGID_130_)" );   // http://mzkb-b.internetdsl.pl/main.htm
          };
        }


      },


      generateSounds() {
        this.sounds = this.samples.reduce( function(cache, sample) {
          cache[sample] = new Audio('/sounds/'+ sample + '.wav');
          return cache;
        }, {});
      },

      bindKeys() {
        keyboardJS.bind(this.samples, (e) => { this.play(e.key) });
      },

      bindEvents() {
        var svg = document.getElementById('drumsSVG');
        var doc = svg.contentDocument;
        this.samples.forEach( (sample) => $(doc.getElementById('sample_' + sample)).click(() =>  drums.play(sample) ) );
      },

      setVolume(amount) {
        this.samples.forEach( (sample) => this.sounds[sample].volume = amount/200);
      },

      ActivateKeyboard() {
        var svg = document.getElementById('drumsSVG');
        var doc = svg.contentDocument;
        keyboardJS.watch(doc);
      }




    }

      document.getElementById('drumsSVG').addEventListener('load', function(){
          drums.generateSounds();
          drums.bindEvents();
          drums.bindKeys();
          drums.setVolume(60);
          drums.ActivateKeyboard();



      });








</script>
